.hero-sec {
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('img/summit.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    color: white;
}
