.hero-sec {
    position: relative;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('img/summit.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    color: white;
}

.bg {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.4) 0%,
            #ffecd2 15%,
            #ffb095 50%,
            #a2e3ff 100%);
}

.trails {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 60px 40px;
}

.trail-pic {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border-radius: 10px;
}

.trail-pic:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.info-card {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border: 1px solid black;
    border-radius: 20px;
}

.info-card:hover {
    transform: translateY(-5px);
}

body {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.hero-sec h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    letter-spacing: 3px;
}

.hero-sec h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.1rem;
}

p {
    font-weight: 300;
    font-size: 1rem;
}